:root {
  --primary: #fa8b02;
  --bg-body: #fffcf8;
}

body {
  font-size: 16px;
  list-style: none;
  font-family: "Plus Jakarta Display", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.navbar ul li span {
  width: 30px;
  background-color: var(--primary);
}

#home .row {
  min-height: 100vh;
}

#home .row .decription h1 {
  font-size: 4.3rem;
}

#home .row .image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #fa8b02;
}

#popular {
  min-height: 50vh;
}

#actualy {
  position: relative;
  background-color: var(--bg-body);
  min-height: 85vh;
}

/* #actualy .row {
  position: relative;
  min-height: 75vh;
} */

#actualy .row .row,
#actualy .row .row .col-md-6 {
  position: relative;
}

#actualy .row .row .card-1 {
  position: absolute;
  top: -50px;
}

#actualy .text-actualy {
  font-size: 3rem;
}

#actualy span {
  display: inline-block;
  width: 20%;
  height: 5px;
  background-color: #fa8b02;
}

@media (max-width: 768px) {
  #home .row .decription h1 {
    font-size: 2.5rem;
  }

  #home .row .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fa8b02;
  }
}
